{% extends "cms/base.html" %}

{% block title %}記事一覧{% endblock title %}

{% block content %}
  <h4 class="mt-4 border-bottom">記事の一覧</h4>
  <div class="container-fluid">
    <div class="row no-gutters">
      {% for article in articles %}
        <div class="col-6">
          <div class="card article_list__item_card">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.overview }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
