.product_list__item_card {
    margin: 0.5rem;
}

.product_list__item_card .card-text {
    font-size: 10.5pt;
}

.tag_list {
    padding: 0;
    font-size: 0;
    margin: 0em;
}

.tag_list > * {
    display: inline-block;
    font-size: 10.5pt;
}

.tag_list .tag_list__header {
    padding-left: 0em;
    padding-right: 0.25em;
    font-weight: bold;
}

.tag_list .tag_list__tag_item {
    padding-left: 0em;
    padding-right: 0em;
}

.tag_list .tag_list__separator {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.article_page__container .tag_list {
    justify-content: flex-end;
}

.article__link_ico {
    width: 16px;
    height: 16px;
}

.product_list__link_row > * {
    margin: 0 0.5rem;
}
