{% extends "cms/base.html" %}
{% load static %}

{% block title %}製作物{% endblock title %}

{% block content %}
  <h4 class="mt-4 border-bottom">製作物</h4>
  <div class="container-fluid">
    <div class="row no-gutters">
      {% for product in products %}
        <div class="col-6">
          <div class="card product_list__item_card">
            <div class="card-body">
              <h5 class="card-title">{{ product.article.title }}</h5>
              <p class="card-text">{{ product.article.overview }}</p>
              <div>
                <div class="row no-gutters justify-content-end product_list__link_row">
                  {% if product.url_product %}
                    <div class="col-auto card-text">
                      <a href="{{ product.url_product }}" target="_blank">
                        実物を見る
                      </a>
                    </div>
                  {% endif %}
                </div>
                <div class="row no-gutters justify-content-end product_list__link_row">
                  {% if product.url_document %}
                    <div class="col-auto card-text">
                      <a href="{{ product.url_document }}" target="_blank">
                        ドキュメントを見る
                      </a>
                    </div>
                  {% endif %}
                </div>
                <div class="row no-gutters justify-content-end product_list__link_row">
                  {% if product.url_android %}
                    <div class="col-auto card-text">
                      <a href="{{ product.url_android }}" target="_blank">
                        <img src="{% static 'cms/img/android.png' %}" height="24px" />
                      </a>
                    </div>
                  {% endif %}
                </div>
                <div class="row no-gutters justify-content-end product_list__link_row">
                  {% if product.url_github %}
                    <div class="col-auto">
                      <a href="{{ product.url_github }}" title="GitHub" target="_blank">
                        <img src="{% static 'cms/img/github.png' %}" class="article__link_ico" />
                      </a>
                    </div>
                  {% endif %}
                  {% if product.url_pypi %}
                    <div class="col-auto">
                      <a href="{{ product.url_pypi }}" title="PyPI" target="_blank">
                        <img src="{% static 'cms/img/pypi.png' %}" class="article__link_ico" />
                      </a>
                    </div>
                  {% endif %}
                  {% if product.url_chrome_store %}
                    <div class="col-auto">
                      <a href="{{ product.url_chrome_store }}" title="Chrome Web ストア" target="_blank">
                        <img src="{% static 'cms/img/g_chrome.png' %}" class="article__link_ico" />
                      </a>
                    </div>
                  {% endif %}
                  {% if product.url_firefox_addons %}
                    <div class="col-auto">
                      <a href="{{ product.url_firefox_addons }}" title="Firefox ADD-ONS" target="_blank">
                        <img src="{% static 'cms/img/firefox_addons.png' %}" class="article__link_ico" />
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
              <ul class="row tag_list">
                <li class="col-auto tag_list__header">タグ：</li>
                {% for tag in product.article.tag_list.all %}
                  <li class="col-auto tag_list__tag_item">{{ tag.name }}</li>
                  {% if not forloop.last %}<li class="col-auto tag_list__separator">|</li>{% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
