{% extends "cms/base.html" %}
{% load static %}
{% load myfilter %}

{% block title %}{{ product.article.title }}{% endblock title %}

{% block content %}
  <div class="container article_page__container">
    <div class="article_page__header">
      <h1 class="mt-4">{{ product.article.title }}</h1>
      <ul class="row tag_list">
        <li class="col-auto tag_list__header">タグ：</li>
        {% for tag in product.article.tag_list.all %}
          <li class="col-auto tag_list__tag_item">
            <a href="{% url 'cms:product_list_by_tag' tag_id=tag.id %}">{{ tag.name }}</a>
          </li>
          {% if not forloop.last %}<li class="col-auto tag_list__separator">|</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="row">
      <div class="col-12">
        {{ product.article.overview }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ product.article.body | markdown2html | safe }}
      </div>
    </div>
    <ul class="row tag_list">
      <li class="col-auto tag_list__header">タグ：</li>
      {% for tag in product.article.tag_list.all %}
        <li class="col-auto tag_list__tag_item">
          <a href="{% url 'cms:product_list_by_tag' tag_id=tag.id %}">{{ tag.name }}</a>
        </li>
        {% if not forloop.last %}<li class="col-auto tag_list__separator">|</li>{% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
